
@mixin box-sizing($type) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin box-shadow($left, $top, $color, $blurRadius: 0px, $spread: 0px) {
  -moz-box-shadow: $left $top $blurRadius $spread $color;
  -webkit-box-shadow: $left $top $blurRadius $spread $color;
  box-shadow: $left $top $blurRadius $spread $color;
}

@mixin box-shadow-reset {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin page-width {
  min-width: 960px;
  max-width: 1080px;
  width: 60%;
}

@mixin transform-origin($x, $y) {
  -webkit-transform-origin: $x $y;
  -moz-transform-origin: $x $y;
  -ms-transform-origin: $x $y;
  transform-origin: $x $y;
}

@mixin transform($rotate: 0deg, $translateX: 0px, $translateY: 0px) {
  -webkit-transform: rotate($rotate) translate($translateX, $translateY);
  -moz-transform: rotate($rotate) translate($translateX, $translateY);
  -ms-transform: rotate($rotate) translate($translateX, $translateY);
  transform: rotate($rotate) translate($translateX, $translateY);
}
