{% include navigation/social_listing.html url="http://github.com/mscharley" shortname="github" label="GitHub" %}
<!-- {% include navigation/social_listing.html url="https://bitbucket.org/mscharley" shortname="bitbucket" label="Bitbucket" %} -->
{% include navigation/social_listing.html url="https://plus.google.com/106304756704344047916" shortname="google-plus" label="Google+" %}
{% include navigation/social_listing.html url="http://www.linkedin.com/profile/view?id=33114124" shortname="linkedin" label="LinkedIn" %}
{% include navigation/social_listing.html url="http://stackoverflow.com/users/15537/matthew-scharley" shortname="stack-overflow" label="Stack Overflow" %}
{% assign author_email_link = 'mailto:' | append: site.author.email %}
{% include navigation/social_listing.html url=author_email_link shortname="mail" label="Email" %}
{% include navigation/social_listing.html url="https://twitter.com/mattscharley" shortname="twitter" label="Twitter" %}
