
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,400italic,700');
@import url('http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

$lato: 'Lato', sans-serif;
$droid-mono: 'Ubuntu Mono', monospace;

@import 'foundation-icons';
