@charset "UTF-8";
@import "settings";

@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  "foundation/components/block-grid",
  "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
  "foundation/components/reveal",
  "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility"
;

@import 'compass/css3';
@import 'syntax';

@media #{$small-only} {
  // Account for the fixed top-bar
  section.main-section {
    padding-top: $tabbar-height;
  }
}

html, body, .off-canvas-wrap, .off-canvas-wrap > .inner-wrap {
  min-height: 100%;
}

code {
  background-color: $base2;
}

ul, ol {
  li {
    ul, ol {
      margin-bottom: 0.5 * $paragraph-margin-bottom;
    }
  }
}

.skip-nav {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  clip: rect(1px, 1px, 1px, 1px);
  padding: rem-calc(10);
  z-index: 9999;
  @include border-radius(0 0 rem-calc(10) 0);

  &:focus {
    bottom: auto;
    background: $base03;
    clip: auto;
  }
}

#site-nav {
  background: $base02;
  color: $base1;

  nav.site {
    text-align: right;

    .side-nav {
      padding: 0;
    }

    li {
      label {
        text-transform: uppercase;
        font-size: 110%;
        color: $base1;
        margin-top: rem-calc(32);
      }
    }

    .social {
      padding-bottom: rem-calc(32);

      ul.icons {
        @include block-grid(
          $per-row: 3,
          $spacing: rem-calc(5px),
          $base-style: true
        );

        li {
          text-align: center;
          font-size: 30px;

          a {
            color: $base1;
          }

          i {
            display: inline-block;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}

.social, #more-social-links {
  i {
    display: none;
  }
}

#more-social-links {
  ul {
    @include block-grid(
      $per-row: 4,
      $spacing: rem-calc(15),
      $base-style: true
    );

    a {
      display: block;
      text-align: center;
      @extend .button;
      @extend .button.small;
      @extend .button.radius;
      margin-bottom: 0;
    }
  }

  .close-reveal-modal {
    top: rem-calc(5);
    right: rem-calc(5);
    line-height: 0.6;
  }
}

#page-wrapper {
  background: $base3;
  color: $base00;
  padding-bottom: 3 * $paragraph-margin-bottom;
}

article#main {
  nav.recent {
    margin-bottom: $paragraph-margin-bottom;

    .previous, .next {
      @include clearfix;
    }

    a {
      max-width: 95%;
      display: block;
    }

    .previous {
      &::before {
        content: "‹";
      }

      &::before, a{
        float: left;
        margin-right: -100%
      }

      a {
        margin-left: 5%;
      }
    }

    .next {
      text-align: right;

      &::before {
        content: "›"
      }

      &::before, a{
        float: right;
        margin-left: -100%
      }

      a {
        margin-right: 5%;
      }
    }
  }
}

nav.tags {
  margin-bottom: $paragraph-margin-bottom;

  > * {
    vertical-align: middle;
  }

  label {
    display: inline;
    margin-right: 0.5em;
  }

  ul {
    display: inline-block;

    a.button {
      margin-bottom: 0;
    }
  }
}

.tag-listing {
  ul {
    @include block-grid(
      $per-row: 2,
      $base-style: true
    );

    a {
      width: 100%;
      margin-bottom: 0;
    }
  }

  @media #{$medium-only} {
    ul {
      @include block-grid(
        $per-row: 3
      );
    }
  }

  @media #{$large-up} {
    ul {
      @include block-grid(
        $per-row: 4
      );
    }
  }
}

#footer {
  padding: $paragraph-margin-bottom 0;

  .copyright {
    @include clearfix;
    margin-bottom: $paragraph-margin-bottom;

    .license-logo {
      float: left;
    }

    .license-text {
      margin-left: 108px;
    }
  }

  footer {
    text-align: right;
    font-size: $small-font-size;
  }
}

@media print {
  body {
    background: #fff;
  }
}
