doctype html
html
  head
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    title
      - if page['title']
        | #{page['title']} |
      - else
        | #{site['title']}

    link rel="alternative" type="application/atom+xml" title="RSS feed of blog posts" href="http://feeds.feedburner.com/mattscharleyme"
    link rel="canonical" href="http://#{site['domain']}#{page['url']}"

    link type="text/css" rel="stylesheet" href="/css/app.css"
    script src="/assets/modernizr/modernizr.js"
    script src="/assets/jquery/dist/jquery.min.js" defer=nil
    script src="/assets/foundation/js/foundation.min.js" defer=nil
    script src="/assets/foundation/js/foundation/foundation.reveal.js" defer=nil
    script src="/js/app.js" defer=nil

    == include 'ga'

  body
    a href="#main-section" class="skip-nav" Skip to navigation
    .off-canvas-wrap
      .inner-wrap
        .fixed
          nav.tab-bar.show-for-small-only
            section.left-small
              a.left-off-canvas-toggle.menu-icon
                span

        aside.left-off-canvas-menu
          == include 'navigation', wrapper_class: 'off-canvas-menu'

        section.main-section
          #page-wrapper
            #page.row
              #site-nav.medium-3.columns.medium-push-9.hide-for-small-only
                == include 'navigation', wrapper_class: 'side-nav'
              .medium-9.columns.medium-pull-3
                | #{{content}}

          #footer
            .row
              .small-12.columns
                == include 'copyright'
            footer.row
              .small-12.columns
                | Site last generated:
                =<> Time.now.utc.strftime('%Y-%m-%dT%H:%M:%SZ')
                a href="https://bitbucket.org/matthew-scharley/matt.scharley.me" [src]

        a.exit-off-canvas
