---
layout: default
---
<p><a href="/tags.html">Back to tag listing</a></p>
<ul>
  {% for tag in site.tags %}
  {% if tag[0] == page.tag %}
  {% for post in tag[1] %}
  <li class="archive_list">
    <time datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%d/%m/%Y"}}</time> <a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a>
    {% if post.summary %}{{post.summary}}{% endif %}
    {% include navigation/tag_list.html tags=post.tags %}
  </li>
  {% endfor %}
  {% endif %}
  {% endfor %}
</ul>
