@charset "UTF-8";

// Bourbon + Neat.
@import 'bourbon/bourbon';
@import 'base/base';
@import 'grid-settings';
@import 'neat/neat';

// Pygments syntax highlighting.
@import 'syntax';

// Our own subfiles.
@import 'accessibility';

body {
  margin: $small-spacing;
  padding: 0;
}

.content {
  @include outer-container;

  > nav {
    @include span-columns(3);

    ul {
      margin-bottom: $small-spacing;
    }
  }

  > article {
    @include span-columns(9);
    padding: 0 $small-spacing $base-spacing $base-spacing;
    border-left: $base-border;
  }
}

hr[align="center"] {
  @include directional-property(margin, null, null auto);
}

article {
  header {
    p {
      margin-bottom: 0;
      line-height: $base-line-height * 1.2;

      &:last-of-type {
        margin-bottom: $small-spacing;
      }
    }
  }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }
}

.tag-list {
  font-size: 0.8em;

  ul {
    padding: 0;

    li {
      display: inline-block;
      background: $action-color;
      transition: background-color 0.1s linear;

      &:hover, &:focus {
        background-color: $action-hover-color;
      }

      &:first-child {
        @include border-left-radius(2px);
      }

      &:last-child {
        @include border-right-radius(2px);
      }

      a {
        display: inline-block;
        color: #fff;
        padding: 0 $small-spacing;
        line-height: 2;
      }
    }
  }
}

.copyright {
  @include clearfix;
  margin-bottom: $small-spacing;

  .license-logo {
    float: left;
    margin-right: $base-spacing;
    margin-bottom: $small-spacing;

    img {
      vertical-align: text-top;
    }
  }
}

.site-generated {
  font-size: 0.6em;
  text-align: right;
}
