.copyright
  .license-logo
    a.license-image rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/au/"
      img alt="Create Commons License" width="88" height="31" src="http://i.creativecommons.org/l/by-nc-sa/3.0/au/88x31.png"

  .license-text
    | The content of this blog by
    a href="http://matt.scharley.me/" Matthew Scharley
    | is licensed under a
    a rel="license" href="Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Australia License"
      | Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Australia License.
    a rel="license" href="/license.html" Full licensing information.
