<!DOCTYPE html>
<html class="no-js" lang="en-GB">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/atom+xml" title="RSS feed of blog posts" href="http://feeds.feedburner.com/mattscharleyme">
  <link rel="canonical" href="http://{{ site.domain }}{{ page.url }}">
  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,400italic,700">
  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
  <link type="text/css" rel="stylesheet" href="/css/app.css">
  <script src="/assets/modernizr/modernizr.js"></script>
  <script src="/assets/jquery/dist/jquery.min.js" defer></script>
  <script src="/assets/foundation/js/foundation.min.js" defer></script>
  <script src="/assets/foundation/js/foundation/foundation.reveal.js" defer></script>
  <script src="/js/app.js" defer></script>

  {% include ga.html %}
</head>
<body>
<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <div class="fixed">
      <nav class="tab-bar show-for-small-only">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>
      </nav>
    </div>
    <aside class="left-off-canvas-menu">
      {% include navigation.html class="off-canvas-list" %}
    </aside>
    <section class="main-section">
      <div id="page-wrapper">
        <div id="page" class="row">
          <div id="site-nav" class="medium-3 columns medium-push-9 hide-for-small-only">
            {% include navigation.html class="side-nav" %}
          </div>
          <div class="medium-9 columns medium-pull-3">
            {{ content }}
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="row">
          <div class="small-12 columns">
            {% include copyright.html %}
          </div>
        </div>
        <footer class="row">
          <div class="small-12 columns">
            Site last generated: {{ site.time | date_to_xmlschema }} <a href="https://github.com/mscharley/matt.scharley.me">[src]</a>
          </div>
        </footer>
      </div>
    </section>
    <a class="exit-off-canvas"></a>
  </div>
</div>
</body>
</html>
