---
layout: html
---
<article id="main" class="post">
  <header>
    <hgroup>
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
      <p class="posted-time">
        <strong>Updated:</strong> <span class="date">
        {% if page.updated %}
          {{ page.updated | date: '%A, %d %B %Y - %H:%M' }}
        {% else %}
          {{ page.date | date: '%A, %d %B %Y - %H:%M' }}
        {% endif %}
        </span>
      </p>
    </hgroup>
  </header>

  {{ content }}

  <footer>
    {% include disqus.html %}
  </footer>
</article>
