== include 'navigation/social'
== include 'navigation/social_listing', url: 'https://bitbucket.org/mscharley', shortname: nil, label: 'Bitbucket'
== include 'navigation/social_listing', url: 'https://drupal.org/user/911174', shortname: nil, label: 'Drupal.org'
== include 'navigation/social_listing', url: 'https://www.gittip.com/mscharley/', shortname: nil, label: 'Gittip'
